@supports (animation-timeline: view()) {
    .section_full-width p,
    .section_full-width h2 {
      animation: animate-in-and-out linear both;
      animation-timeline: view();
      animation-range: entry 0% cover 20%;
    }

    @keyframes animate-in-and-out {
      from {
        opacity: 0;
        transform: translateY(2rem);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }